{% extends "layout.html" %}
{% block content %}
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 20%">
          <h1 class="display-2" style="color: white;">COSTA RICA COVID-19 GUIDE</h1>
        </div>
      </div>
    </div>
  </section>
  {% if not current_user.is_authenticated %}
    <section>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-8" style="margin: 10% 0%; text-align: left;">
            <div class="card">
              <h3 class="card-header" style="background-color: #dbe2ef;" >Log In</h3>
              <div class="card-body">
                <h5 class="card-title">Access our tools</h5>
                <p class="card-text">Including a COVID-19 live statistics comparison between Costa Rica 
                  and any other country, a license plate restriction lookup tool and a selection of articles written in english 
                  about news regarding COVID-19 and Costa Rica.</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Log In</a>
                <a href="{{ url_for('register') }}" class="btn btn-outline-primary">Sign Up For Free</a>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <section id="card_container">
    <a class="anchor" id="top"></a>
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <h2 style="margin-bottom: 3%;">Travel safely</h2>
        <div class="card-deck">
          <div class="card" id="home_card">
            <div class="card-body">
              <h3 class="card-title"><ion-icon name="airplane"></ion-icon>  Arriving</h3>
              <p class="card-text">There are some requirements that you will need to sort out prior to 
                your arrival in Costa Rica from abroad</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ url_for('home') + '#arriving' }}" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
          <div class="card" id="home_card">
            <div class="card-body">
              <h3 class="card-title"><ion-icon name="car-sport"></ion-icon>  Driving</h3>
              <p class="card-text">Most cars in Costa Rica may circulate 
                depending on the day of the week and the license plate</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ url_for('home') + '#driving' }}" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
          <div class="card" id="home_card">
            <div class="card-body">
              <h3 class="card-title"><ion-icon name="leaf"></ion-icon>  Visiting</h3>
              <p class="card-text">As of September, all the main attractions in Costa Rica are open, 
                but some may have limited capacity or other restrictions in place</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ url_for('home') + '#visiting' }}" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <a class="anchor" id="arriving"></a>
    <div class="container" style="margin-top: 10%;">
      <div class="row">
        <div class="col-md-8" style="text-align: left; padding-bottom: 2%;">
          <div class="row justify-content-md-start" style="margin: 2% 1%;">
            <a href="{{ url_for('home') + '#top' }}" class="btn btn-outline-secondary btn-sm">Back to Top</a>
          </div>
          <h2>Arriving to Costa Rica</h2>
        </div>
        <div class="col-md-8" style="text-align: justify;">
          <ul class="list-unstyled">
            <li>As of September 2020, Costa Rica reopens its borders to tourists from over 40 countries. 
              Arriving visitors must meet several requirements to enter the country:
              <ul>
                <li>Every visitor must complete the digital epidemiological form know as the
                  <a href="https://salud.go.cr/" target="_blank">Health Pass</a>.</li>
                <li>Tourists must take a <a href="https://www.fda.gov/consumers/consumer-updates/coronavirus-testing-basics" 
                  target="_blank">PCR COVID-19 test</a> before arriving to Costa Rica. The result must be negative and it must be taken maximum 72 hours before the flight.</li>
                <li>Every tourist must purchase a travel insurance that covers for the accommodation in case they must be placed 
                  in quarantine. This policy can be purchased in Costa Rica or be international, but it must be valid throughout the entire 
                  visit, cover medical expenses for at least 50,000.00 USD and minimum coverage of 2,000.00 USD for lodging expenses.</li>
                <li>Since there is a limited amount of states allowed to travel to Costa Rica, visitors 
                  from the United States must provide proof of residence via their driver's license.</li>
              </ul>
              <li>If all requirements are met, there will be no need for self isolation.</li>
              <li>The use of face masks inside any public establishment is mandatory, except when eating, 
                in the case of infants or within your hotel room/vacational rental.</li>
              <li>You may be denied entry to an establishmentfi you do not wear a mask.</li>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="card" style="text-align: left;">
            <div class="card-header" style="text-align: center;">
              Local Insurance Companies
            </div>
            <p class="card-text" style="padding: 3% 6%; text-align: justify;">There are two Costarrican companies that provide pre-approved 
              travel insurance plans, <a target="_blank" href="https://micrositios.ins-cr.com/seguroviajero/">National Insurance Institute (INS)</a> 
              and <a target="_blank" href="https://tiendasagicor.com/en/">Sagicor</a>. This insurance must be bought before reaching the immigration control at the airport.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div style="margin-top: 10%; padding: 10% 5%; background-color: #dbe2ef;">
      <div class="d-flex justify-content-end">
        <a class="anchor" id="driving"></a>
        <img src="/static/road_sign.png" alt="Road sign" style="float:left;width:320px;height:300px; padding: 5% 5%;">
        <div class="col-md-8" style="text-align: justify;">
          <a href="{{ url_for('home') + '#top' }}" class="btn btn-outline-secondary btn-sm" style="float: inline-start; margin: 2% 1%;">Back to Top</a>
          <h2 style="padding-bottom: 2%;">Driving Arround Costa Rica</h2>
          <ul class="list-unstyled">
            <li>The vehicular restrictions will be unified during September throughout all of Costa Rica. 
              On weekdays, driving is permitted from 5 a.m. to 10 p.m. and on weekends from 5 a.m. to 8 p.m. 
              Mondays, vehicles with plates ending in 1 and 2 cannot circulate, Tuesdays it's 3 and 4, and so on. 
              If you wish to know more about this restriction, visit 
              our <a href="{{ url_for('moving_arround') }}">License Plate</a> lookup tool.</li>
            <li>There are some <b>exceptions</b> to these restrictions:</li>
              <ul> 
                <li>Rental cars.</li>
                <li>When driving to/from the airport.</li>
                <li>When driving to/from a hotel.</li>
                <li>When driving to/from a medical appointment.</li>
                <li style="color: #C1272D;">Drivers will be asked to provide proof if stopped by the police.</b></li>
              </ul>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <a class="anchor" id="visiting"></a>
    <div class="container" style="margin-top: 10%;">
      <div class="row" style="margin-bottom: 10%;">
        <div class="col-md-8" style="text-align: left; padding-bottom: 2%;">
          <div class="row justify-content-md-start" style="margin: 2% 1%;">
            <a href="{{ url_for('home') + '#top' }}" class="btn btn-outline-secondary btn-sm">Back to Top</a>
          </div>
          <h2>Visiting Places in Costa Rica</h2>
        </div>
        <div class="col-md-8" style="text-align: justify;">
          <ul class="list-unstyled">
            <li>As of September 9th, all bussinesses will open from 5:00 a.m. and 10:00 p.m. during weekdays, 
              and from 5:00 a.m. to 8:00 p.m. on saturdays and sundays.</li>
            <li>Casinos, bars, clubs, and most places where large groups of people gather will remain closed, 
              but restaurants that serve alcohol remain open with a 50% limited capacity.</li>
            <li>Movie theaters, temples, and similar establishments will run with limited capacity.</li>
            <li>Beaches are open every day from 5:00 a.m. to 2:30 p.m.</li>
            <li>Essential services such as supermarkets, hospitals, clinics, veterinarians and pharmacies 
              are operating under normal schedule.</li>
            <li>Most tourist attractions are operating as normal, incluiding guided tours companies.</li>
            <li>Practically all national parks are open, but certain areas may be closed to the public, 
              like picnic areas, gift shops and lookouts or similar places where crowds tend to gather.</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="card" style="text-align: left;">
            <div class="card-header" style="text-align: center;">
              The Local Economy
            </div>
            <p class="card-text" style="padding: 3% 6%; text-align: justify;">
              Costa Rica's economy has been affected by the pandemic and the tourism industry has been hit hard. 
              You may encounter hotels, tour operators or other attractions with limited staffing or closed. 
              We strongly advice that you book your planned activites beforehand when possible.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}