{% extends "layout.html" %}
{% block content %}
  <div class="container" style="margin-top: 10%;">
    <div class="row justify-content-md-center" style="margin-bottom: 10px;">
      <div class="col-md-auto" style="margin-top: 25px;">
        <h2>Enter the last digit on your license plate</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            {{ form.digits(class="form-control") }}
            <div class="form-group" style="margin-top: 10px;">
              <button class="btn btn-primary" type="submit">Look up</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  {% if request.method == "POST" %}
    <div class="container" style="margin-top: 0%;">
      <div class="row justify-content-md-center">
        <div class="col-md-auto" style="margin-bottom: 2%;">
          <h3>Vehicular restriction for this week</h3>
        </div> 
      </div>
      <div class="row justify-content-md-center">
        <div class="col" id="weekday">
          <div class="card" {% if plate in range(1, 3) %} style="background-color:#C1272D"; {% else %} style="background-color:#112d4e"; {% endif %}>
            <h5 style="color: white;">MON</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate in range(3, 5) %} style="background-color:#C1272D"; {% else %} style="background-color:#112d4e"; {% endif %}>
            <h5 style="color: white;">TUE</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate in range(5, 7) %} style="background-color:#C1272D"; {% else %} style="background-color:#112d4e"; {% endif %}>
            <h5 style="color: white;">WED</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate in range(7, 9) %} style="background-color:#C1272D"; {% else %} style="background-color:#112d4e"; {% endif %}>
            <h5 style="color: white;">THU</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate == 9 or plate == 0 %} style="background-color:#C1272D"; {% else %} style="background-color:#112d4e"; {% endif %}>
            <h5 style="color: white;">FRI</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate in even %} style="background-color:#C1272D"; {% else %} style="background-color:#3f72af"; {% endif %}>
            <h5 style="color: white;">SAT</h5>
          </div>
        </div>
        <div class="col" id="weekday">
          <div class="card" {% if plate in odd %} style="background-color:#C1272D"; {% else %} style="background-color:#3f72af"; {% endif %}>
            <h5 style="color: white;">SUN</h5>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto" style="margin: 3% 0% 5%;">
          <div class="row d-flex">
            <span class="blue_dot"></span><p>From 5am to 10pm</p>
          </div>
          <div class="row d-flex">
            <span class="red_dot"></span><p>Cannot circulate</p>
          </div>
          <div class="row d-flex">
            <span class="light_dot"></span><p>From 5am to 8pm</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Transportation & COVID-19</h1>
      <p class="lead">Costarrican authorities have placed a restriction on the amount of vehicles that may circulate 
        depending on the day of the week and the last digit of your vehicle's license plate. These restrictions
        <b style="color: #C1272D;">DO NOT APPLY TO RENTED CARS</b>, but you must present proof that the car is rented to avoid 
        the removal of the license plates and a ticket for 107,000.00<i><small>CRC</small></i> (about 180.00<i><small>USD</small></i>).
      </p>
    </div>
  </div>
{% endblock %}